<h3>Consent</h3>

<p>Am application is trying to get access to your data. Do you approve?</p>

<form name="input" action="/authorized" method="post">
  <input type="hidden" name="state" value="<%= @my_local_state %>">
  <input type="hidden" name="plan_id" value="<%= @plan_id %>">

<br />
  <div class="btn-group">
    <button type="submit" class="btn">Accept</button>
    <button type="submit" formaction="/denied" class="btn">Deny</button>
  </div>

</form>